#midterm_key
  .row.page-header
    %h1
      CSPP 52553 Spring Midterm Answer Key

  .row
    %h3 Short Answer/Multiple Choice Sections
    %p
      %strong For 1-3, here are example answers.  I accepted anything that was reasonable.

    %ol
      %li HTTP is a network protocol.  HTML is a markup/programming language for browsers.
      %li def marks the beginning of a named method.  do marks the beginning of an anonymous method or block of clode.  (Note that do is used for things beyond just loops!)
      %li An array is a data container whose elements are accessed with zero-based integers.  A hash is a data container whose value elements are accessed with object keys.


  .row
    %p
      %strong For questions 4-39,
      = link_to "see the answer key pdf here.", "/spring2013/midterm_answer_key.pdf"

  .row
    %ol
      %li(value="40")
        %p
          %strong I accepted any reasonable diagramming showing that a player is a join model between a team and an agent.
        %p A team has many players.  A team has many agents through the players.  An agent has many players.  A player belongs to a team and an agent.

  .row
    %h3
      %strong Debugging Exercise #1

    %p You'll get credit if you get reasonably close in describing the error and a reasonable fix.

    %ol
      %li
        (2 pts) First we see an
        %code Unknown Action
        error because the route specifies an action named 'details' but there is no method nor view named 'details'.  Easiest fix is to change the route to use the 'show' action, for which we have both a method and a view written already.
      %li
        (4 pts) Then we'd see a
        %code NoMethodError
        on line 4 of the UsersController because there is no method named "pictures" for a User object.  Easiest fix is to add
        %code has_many :pictures
        into the User model.
      %li
        (2 pts) Next we will get a NameError,
        %code undefined local variable or method `pictures',
        in the show.html.erb template on line 4.  Easiest fix is to change it to
      %code @pictures
      \.
      %li
        (2 pts) Finally we'd get
        %code NoMethodError
        on line 5,
        %code undefined method `url'.
        There's no method named "url" for a Picture object, so the easiest fix is to change it to "source".


  .row
    %h3
      %strong Debugging Exercise #2

    %p You'll get credit if you get reasonably close in describing the error and a reasonable fix.

    %ol
      %li
        (2 pts) First we see an
        %code Routing Error: No route matches [GET] "/pictures/1/edit"
        \.  Easiest fix is to change the
        %code put
        to a
        %code get
        in the routes.rb file.
      %li
        (2 pts) Now everything will be ok until we try to submit the form. Then we will get
        %code No route matches [PUT] "/pictures/1"
        \.  The routes.rb file specifies a POST instead of a PUT.  Easiest fix is to change the
        route to use
        %code put
        on line 6 of routes.rb.
      %li
        (7 pts) The update method in the PicturesController won't work properly because the
        %code form_for
        will wrap the form data into a top-level key named
        %code params[:picture]
        so lines 11-13 of the PicturesController will have to change.
      %li
        (4 pts) Finally we'd get a
        %code NoMethodError
        on line 16,
        %code undefined method 'picture'.
        We first have to add a
        %code belongs_to :picture
        in the User model, then either leave the code as is or use a named route helper like
        %code user_url(@picture.user)


